APP_NAME=CariKampus
APP_ENV=development

# Database connection
# Example for Neon PostgreSQL:
# DATABASE_URL=postgresql://user:password@ep-xyz.aws.neon.tech/neondb?sslmode=require
# Example for AWS RDS PostgreSQL:
# DATABASE_URL=postgresql://postgres:your_password@carikampus-db.c5u2ywiqihx0.ap-southeast-1.rds.amazonaws.com:5432/postgres
DATABASE_URL=

FRONTEND_URLS=http://localhost:3000,http://127.0.0.1:3000
